beautifulsoup4==4.12.3
certifi==2024.12.14
cffi==2.0.0
charset-normalizer==3.4.1
cryptography==46.0.6
geographiclib==2.1
geopy==2.4.1
google-api-core==2.29.0
google-api-python-client==2.188.0
google-auth==2.47.0
google-auth-httplib2==0.3.0
google-auth-oauthlib==1.2.4
googleapis-common-protos==1.72.0
httplib2==0.31.1
idna==3.10
numpy==2.2.2
oauthlib==3.3.1
pandas==2.2.3
pandas-stubs==2.2.3.250527
pdfminer.six==20251230
pdfplumber==0.11.9
pillow==12.1.1
proto-plus==1.27.0
protobuf==6.33.4
pyasn1==0.6.2
pyasn1_modules==0.4.2
pycparser==3.0
pyparsing==3.3.2
pypdf==6.9.2
pypdfium2==5.6.0
python-dateutil==2.9.0.post0
pytz==2024.2
requests==2.32.3
requests-oauthlib==2.0.0
rsa==4.9.1
setuptools==80.10.1
six==1.17.0
soupsieve==2.6
types-pytz==2025.2.0.20251108
tzdata==2024.2
uritemplate==4.2.0
urllib3==2.3.0
wheel==0.45.1
